.article {
  height: 550px;
  width: 400px;
  margin-top: 40px;
  border: 1px solid $colorLightGray;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
  border-radius: 5px;

  &_image img {
    width: 400px;
    height: 217px;
    object-fit: cover;
  }

  &_content {
    margin: 10px;
    padding: 10px;
  }

  &_date {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    gap: 8px;
    margin-bottom: 20px;

    &_logo {
      height: 18px;
      width: 18px;
    }

    &_left {
      font-size: 14px;
      font-family: "InterLight", sans-serif;
      color: $colorBlack;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.title_content {
  font-family: "InterLight", sans-serif;
  color: $colorBlack;
  font-weight: bold;
  font-size: 18px;
  height: 66px;
  margin: 0;
}

.summary {
  margin-top: 10px;
  font-family: "InterLight", sans-serif;
  color: $colorBlack;
  font-weight: 400;
  font-size: 16px;
  height: 96px;
  margin-bottom: 40px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.bottom-links {
  display: flex;
  justify-content: space-between;
}

.read-more {
  display: flex;
  justify-content: start;
  align-items: flex-end;
  gap: 8px;
  margin-bottom: 25px;

  &_link {
    font-family: "InterLight", sans-serif;
    color: $colorBlack;
    font-weight: 900;
    font-size: 16px;
    text-decoration: none;
  }

  &_icon {
    height: 15px;
    width: 15px;
  }
}

.delete-item {
  display: flex;
  justify-content: start;
  align-items: flex-end;
  gap: 8px;
  margin-bottom: 25px;
  
  &_link {
    font-family: "InterLight", sans-serif;
    color: $colorBlack;
    font-weight: 900;
    font-size: 16px;
    text-decoration: none;
  }

  &_icon {
    height: 17px;
    width: 17px;
  }
}

.favorite-item {
  &_button {
    background-color: #fff;
    border: none;
    cursor: pointer;
  }

  &-button_icon-active {
    color: #F35E4A;
  }
}
