.not_found {
  margin: 60px;
  display: flex;
  justify-content: space-between;

  @include onTablet {
    flex-direction: column;
  }

  &_information {
    @include onTablet {
      margin-bottom: 40px;
      text-align: center;
    }

    @include onMobile {
      margin: 20px;
      text-align: center;
    }

    &_title{
      font-family: "InterBold", sans-serif;
      font-size: 45px;
      margin-top: 10px;

      @include onTablet {
        font-size: 40px;
      }

      @include onMobile {
        font-size: 32px;
      }
    }

    &_text {
      display: block;
      width: 600px;
      font-family: "InterLight", sans-serif;
      font-size: 36px;
      line-height: 46px;

      @include onTablet {
        width: 100%;
        font-size: 28px;
        line-height: 38px;
      }

      @include onMobile {
        font-size: 22px;
        line-height: 32px;
      }
    }
  }

  &_illustration {
    height: 512px;
    width: 512px;

    @include onTablet {
      width: 100%;
      height: auto;
    }

    @include onMobile {
      width: 100%;
      height: auto;
    }
  }
}