@font-face {
  font-family: "MontserratBlack";
  src: url('../fonts/Montserrat-Black.ttf');
}

@font-face {
  font-family: "MontserratLight";  
  src: url('../fonts/Montserrat-Light.ttf');
}

@font-face {
  font-family: "InterBold";
  src: url('../fonts/Inter-ExtraBold.ttf');
}

@font-face {
  font-family: "InterLight";
  src: url('../fonts/Inter-Light.ttf');
}

@font-face {
  font-family: "InterRegular";
  src: url('../fonts/Inter-Regular.ttf');
}
